<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <TITLE> “看温企危中寻机”② | 日产口罩十几万只！这位温州鞋企老板说，预计年产值可新增五六千万元 - 巨一集团有限公司</TITLE>
    <META name="keywords" content="巨一集团有限公司">
    <META name="description" content="巨一集团有限公司">
    <meta name="author" content="Copright © 2013 温州优谷科技有限公司 http://www.yougoo.cn" />
    <meta name="Copyright" content="Copright © 2013 巨一集团有限公司" />
    <link rel="SHORTCUT ICON" href="favicon.ico" />
    <link rel="stylesheet" href="../public/theme/mb6automation/css/css.css">
</head>
<body>
    <%- include public/ad1.html%>
    <div class="indexmian">
        <%- include public/header.html %>
    </div>

    <div class="main">
        <div id="wapper">
            <div class="detail002">
                <img src="../public/theme/mb6automation/images/pic018.png" style="float:left; padding-top:10px; padding-left:7px;" />
                <div class="detail003"><img src="../public/theme/mb6automation/images/pic001.png" width="22" height="18"
                        style="float:left; padding-top:3px;" /><a href="http://weibo.com/OOMEE"
                        target="_blank">官方微博</a><img src="../public/theme/mb6automation/images/pic010.png" width="26" height="25"
                        style="float:left; padding-left:27px;" /></div>

                <div class="detail004">
                    当前位置：<a href="index.asp">首页</a> > <a href="news.asp">最新资讯</a> > <a href="news.asp?ncla=2">媒体报道</a>
                </div>


            </div>

            <div class="company">

                <div class="company_left">



                    <li><a href="news.asp?ncla=1">企业动态</a></li>



                    <li><a href="news.asp?ncla=2" id="cur2">媒体报道</a></li>



                    <li><a href="news.asp?ncla=3">视频新闻</a></li>



                </div>

                <div class="company_right">

                    <div class="detail005">

                        <div class="text004">媒体报道</div>
                        <div class="text005">Media Reports</div>

                    </div>


                    <div class="newslist">


                        <div class="text008">

                            <span><%=data.content.name%></span>
                            <br />
                            <p>[来源：上海明勃股份 | 日期：<%=data.content.createTimeStr%>]</p>

                        </div>
                        <p>&nbsp;</p>
                        <div style="float:left; width:700px; line-height:25px;">
                            <div><b>
                                    <font size="6"><span
                                            style="font-size: 12pt; font-weight: bold"><%=data.content.name%></span>
                                    </font>
                                </b></div>
                            <div style="margin: 5pt 0pt">&nbsp;</div>
                            <div><br />
                                &nbsp;</div>
                            <%-data.content.content%>
                        </div>


                    </div>


                </div>




            </div>

        </div>

    </div>


<%- include public/footer.html %>

</body>

</html>