<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <TITLE>最新资讯 - 巨一集团有限公司</TITLE>
    <META name="keywords" content="巨一集团有限公司">
    <META name="description" content="巨一集团有限公司">
    <meta name="author" content="Copright © 2013 温州优谷科技有限公司 http://www.yougoo.cn" />
    <meta name="Copyright" content="Copright © 2013 巨一集团有限公司" />
    <link rel="SHORTCUT ICON" href="favicon.ico" />
    <link rel="stylesheet" href="../public/theme/mb6automation/css/css.css">
</head>

<body>
    <div class="indexmian">
        <%- include public/ad1.html %>
        <%- include public/header.html %>
    </div>

    <div class="main">
        <div id="wapper">
            <div class="detail002">

                <img src="images/pic019.png" style="float:left; padding-top:10px; padding-left:7px;">
                <div class="detail003"><img src="images/pic001.png" width="22" height="18" style="float:left; padding-top:3px;"><a
                        href="http://weibo.com/OOMEE" target="_blank">官方微博</a><img src="images/pic010.png" width="26" height="25"
                        style="float:left; padding-left:27px;"></div>

                <div class="detail004">
                    当前位置：<a href="index.asp">首页</a> &gt; <a href="products.asp">产品展示</a>
                </div>


            </div>
            <div class="company">
                <div class="company_left">


                    <li><a href="products.asp?series=1">单鞋</a></li>

                    <li><a href="products.asp?series=2">凉鞋</a></li>

                    <li><a href="products.asp?series=5">靴子</a></li>


                </div>

                <div class="company_right"></div>

            </div>

        </div>

    </div>


    <%- include public/footer.html %>

</body>

</html>