<link rel="stylesheet" href="../public/css/app.css">
<header>
    <div class="container">
        <div class="top">
            <span class="phone">联系电话：189 8947 8911</span>
        </div>
        <div class="logo-wrap">
            <div class="logo">
                <img src="../public/images/logo.svg" alt="">
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/" class="active">打印机</a></li>
                <li><a href="#">解决方案</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>