<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>杭州双成办公设备有限公司</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <link rel="stylesheet" href="/swiper/css/swiper.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
   <header>
       <div class="header-top">
           <div class="container">
                <ul class="horizontal text-center">
                    <li>
                        <a href="tel:15667890789">
                            <i class="icon-screen-smartphone" theme="outline"></i>
                            <span class="top-menu-link">15667890789</span>
                        </a>
                    </li>
                    <li>
                        <i class="icon-cloud-download" theme="outline"></i>
                        <span class="top-menu-link">资料下载</span>
                    </li>
                    <li>
                        <i class="icon-envelope" theme="outline"></i>
                        <span class="top-menu-link">联系我们</span>
                    </li>
                </ul>
            </div>
       </div>
       <div class="logo">
           <div class="logo-content"></div>
       </div>
       <div class="nav">
           <div class="container">
                <ul class="horizontal">
                    <li>
                        <a href="#" target="_blank"><i class="icon-home"></i> 首页</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-printer" theme="outline">
                        </i>打印机&复印机</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-drawer" theme="outline">
                        </i>打印管理服务</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-key" theme="outline"></i>行业解决方案</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-layers" theme="outline">
                            
                        </i>成功案例</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-docs" theme="outline"></i>公司新闻</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-question" theme="outline"></i>常见问题</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-flag" theme="outline"></i>关于我们</a>
                    </li>
                    <li>
                        <a href="#" target="_blank"><i class="icon-pointer" theme="outline"></i>公司地址</a>
                    </li>
                </ul>
           </div>
       </div>
    </header>
    <div class="container">
        <div class="banner row">
            <div class="col-md-3">
                <a><img src="/images/banner1.jpg" alt=""></a>
            </div>
            <div class="col-md-6">
                <a><img src="/images/banner2.jpg" alt=""></a>
            </div>
            <div class="col-md-3">
                <a><img src="/images/banner3.jpg" alt=""></a>
            </div>
        </div>
        <div class="list row">
            <div class="box-heading">
                我们有所有的顶级品牌
            </div>
            <div class="tab-content box-content">
                <div class="swiper">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/km-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/hp-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/brother-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/canon-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/samsungsmall-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/okismall-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/km-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/hp-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/brother-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/canon-116x72-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/samsungsmall-250x250.png" alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img src="https://www.mitronics.com.au/image/cache/catalog/brands/okismall-250x250.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list row">
            <div class="box-heading">
                复印&打印超值套餐
            </div>
            <div class="tab-content box-content">
                <div class="swiper">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg"
                                        alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg" alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg" alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg" alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg" alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-2">
                                <a href="#">
                                    <img src="https://www.mitronics.com.au/image/cache/catalog/Machines/Konica-Minolta/227-1-250x250.jpg" alt="">
                                    <div class="description">
                                        <h2>月租金 :120 元</h2>
                                        <ul>
                                            <li>使用费 :0.07 元 / 张</li>
                                            <li>合同期 :3 年</li>
                                        </ul>
                                        <h3>查看详情</h3>
                                    </div>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="list row">
           <div class="col-md-3">
               <div class="card">
                   <h3>选择一台完美的打印机!</h3>
                   <p>无论是考虑租赁、购买还是升级一台办公打印机-复印机-多功能机器，最重要的第一步是确定正确的机器。</p>
                   <p>我们帮助任何企业选择完美的打印机，复印机，多功能机，大规格打印机或实际上任何所需的办公技术。</p>
                   <h4>加强您的操作，使其更加高效、高效!</h4>
                   <a href="http://">筛选打印机</a>
               </div>
           </div>
           <div class="col-md-3">
                <div class="card">
                    <h3>我们的优势!!</h3>
                    <p>使用双成办公托管打印服务，您有许多优势。</p>
                    <ol>
                        <li>完美的机器</li>
                        <li>自动调色剂补充</li>
                        <li>24小时待机维护</li>
                    </ol>
                    <p>使用托管打印服务，打印机用品(如油墨或墨粉)将在打印完之前自动订购和交付。</p>
                    <a href="http://">筛选打印机</a>
                </div>
           </div>
            <div class="col-md-3">
                <div class="card">
                    <h3>为什么选择我们？</h3>
                    <p>有许多著名的顶级品牌，Mitronics都有。</p>
                    <p>双成办公致力于帮助中国客户选择最佳的办公技术解决方案</p>
                    <h3>你知道吗?</h3>
                    <p>印刷成本可能高达公司年收入的6%</p>
                    <p>有了正确的设备和服务，打印节省高达35%是可能的。</p>
                    <a href="http://">筛选打印机</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h3>服务要求!</h3>
                    <p>双成的客户、公司和政府都依赖于我们屡获殊荣的内部IT服务部。我们的服务车队有充足的备件，我们所有的技术人员都是工厂培训的专家。</p>
                    <p>服务和维护您的设备是我们不断追求客户满意的核心部分。</p>
                    <p>加入双成的众多客户，享受今天的好处。</p>
                    <a href="http://">筛选打印机</a>
                </div>
            </div>
        </div>
        <div class="news row">
            <div class="box-heading">
                我们一直在研究最优解决方案
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="thumb"><img src="https://www.mitronics.com.au/image/cache/catalog/home/videoimage-400x250h.jpg"/></div>
                    <h2 class="title">双成办公 - 为您选择</h2>
                    <p class="date">20/02/2019</p>
                    <p class="desc">无论是租赁还是购买一台商业机器，最重要的第一步是确定适合你的业务的机器，并决定你是否需要一台计算机。</p>
                    <a class="link">阅读文章</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="thumb"><img src="https://www.mitronics.com.au/image/cache/catalog/home/videoimage-400x250h.jpg" />
                    </div>
                    <h2 class="title">双成办公 - 为您选择</h2>
                    <p class="date">20/02/2019</p>
                    <p class="desc">无论是租赁还是购买一台商业机器，最重要的第一步是确定适合你的业务的机器，并决定你是否需要一台计算机。</p>
                    <a class="link">阅读文章</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="thumb"><img src="https://www.mitronics.com.au/image/cache/catalog/home/videoimage-400x250h.jpg" />
                    </div>
                    <h2 class="title">双成办公 - 为您选择</h2>
                    <p class="date">20/02/2019</p>
                    <p class="desc">无论是租赁还是购买一台商业机器，最重要的第一步是确定适合你的业务的机器，并决定你是否需要一台计算机。</p>
                    <a class="link">阅读文章</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="thumb"><img src="https://www.mitronics.com.au/image/cache/catalog/home/videoimage-400x250h.jpg" />
                    </div>
                    <h2 class="title">双成办公 - 为您选择</h2>
                    <p class="date">20/02/2019</p>
                    <p class="desc">无论是租赁还是购买一台商业机器，最重要的第一步是确定适合你的业务的机器，并决定你是否需要一台计算机。</p>
                    <a class="link">阅读文章</a>
                </div>
            </div>
        </div>
        <div class="list row">
            <div class="box-heading">
                我们的客户
            </div>
            <div class="tab-content box-content">
                <div class="swiper">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/km-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/hp-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/brother-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/canon-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/samsungsmall-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/okismall-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/km-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/hp-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/brother-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/canon-116x72-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/samsungsmall-250x250.png"
                                        alt=""></a>
                            </div>
                            <div class="swiper-slide product-grid-item col-md-1">
                                <a href="#"><img
                                        src="https://www.mitronics.com.au/image/cache/catalog/brands/okismall-250x250.png"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Copyright © 2019, ShuangCheng Corporation, ABN 31 064 478 351 - All Rights Reserved<a href="tel:15667890789">
                <i class="icon-screen-smartphone" theme="outline"></i>
                <span class="top-menu-link">15667890789</span>
            </a></p>
            
        </div>
    </footer>
   <script src="/swiper/js/swiper.min.js"></script>
</body>
</html>