*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
html,body{
    font-size: 14px;
}
ul{
    list-style: none;
}
ul.horizontal li{
    display: inline-block;
}
a:hover{
    text-decoration: underline;
}
.text-center{
    text-align: center
}
.text-left{
    text-align: left
}
.text-right{
    text-align: right
}
/* header */
header .header-top{
    height: 50px;
    background-color: rgb(30, 46, 79);
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
header .header-top ul li{
    padding: 0 10px;
    line-height: 50px;
}
header .header-top a{
    color: #fff;
}
.logo{
    height: 120px;
    padding: 17px 0;
    text-align: center;
}
.logo .logo-content{
    display: inline-block;
    width: 406px;
    height: 65px;
    margin-top: 20px;
    background: url('../images/logo.svg') no-repeat;
    background-size: contain;
}
.nav{
    height: 65px;
    background-color: rgb(30, 46, 79);
}
.nav a{
    display: inline-block;
    color: #fff;
    line-height: 64px;
    padding: 0 20px;
    font-size: 16px;
    border-bottom:1px solid transparent;
}
i{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
}
.nav i{
    background-size: contain;
    color: #fff;
    vertical-align: inherit;
    margin-right: 4px;
    font-size: 12px;
}
.nav a:hover{
    text-decoration: none;
    color: #1890ff;
    border-bottom:1px solid #656a6e;
}
.nav a:hover i{
    color: #1890ff;
}
.banner{
    margin: 20px 0;
}
.list{
    margin-bottom: 20px;
}
.product-grid-item a{
    display: inline-block;
    padding: 5px;
    border:3px solid rgb(238, 238, 238);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}
.product-grid-item a:hover{
    text-decoration: none;
    opacity: 0.9;
}
.product-grid-item .image {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.product-grid-item h2{
    font-size: 14px;
    color: red;
}
.product-grid-item  .description{
    padding-left: 30px;

}
.product-grid-item ul li{
    color: rgba(0,0,0,7);
    font-size: 14px;
}
.product-grid-item h3{
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}
.box-heading{
    padding: 5px 20px;
    margin: 20px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.card{
    padding: 24px;
    height: 340px;
    box-shadow: 0px 5px 20px #e4e4e4;
}
.card h3{
    margin-bottom: 0.5em;
    font-size: 16px;
    font-weight: bold;
    color:#3399cc;
}
.card h4{
    font-size: 12px;
    font-weight: bold;
    color:#3399cc; 
}
.card p,.card ol{
    margin-bottom: 0.5em;
    font-family: "Open Sans";
    font-size: 14px;
    color:rgba(0,0,0,0.6);
}
.card ol{
    padding-left: 30px;
    color:#000;
}
.card a{
    position: absolute;
    bottom: 2em;
    left: 30px;
    font-size: 16px;
    text-decoration: underline;
    color: rgb(51, 157, 185);
}
.news .card{
    height: 370px;
    box-shadow: none;
}
.news .title{
    padding: 10px 0 5px 0;
    font-size: 13px;
    color: rgb(80, 80, 80);
    font-weight: 700;
}
.news .card:hover{
    box-shadow: 0px 5px 20px #e4e4e4;
}
.news .date{
    padding: 5px 0;
}
.news .link{
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: rgb(221, 0, 23);
    bottom: 1em;
}
/* footer */
footer{
    margin-top: 20px;
    height: 80px;
    line-height: 80px;
    background: #f4f4f4;
}
footer a{
    float: right;
    color: #000;
}
