
<div class="aside">
    <h2>所有机型</h2>
    <ul class="list">
        <% data.productsTop.forEach(function(item){ %>
        <li>
            <a href="/product/<%=item.id%>"><%=item.name%></a>
        </li>
        <% }) %>
    </ul>
    <h3>产品分类</h3>
    <ul class="list">
        <% data.categorys.forEach(function(item){ %>
        <li>
            <a href="/productList?category=<%=item.id%>"><%=item.name%></a>
        </li>
        <% }) %>
    </ul>
    <h3>精选品牌</h3>
    <ul class="list brand-list">
        <% data.brands.forEach(function(item){ %>
        <li>
            <a href="/productList?brand=<%=item.id%>">
                <img src="<%=item.thumb[0].url%>" alt="">
                <p><%=item.name%></p>
            </a>
        </li>
        <% }) %>
    </ul>
</div>